body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.n {
    color: crimson;
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 50px;
}

.one {
    display: flex;
    padding: 5px;
    background-color: antiquewhite;
}

.top_left {
    padding-top: 15px;
    width: 10%;
    height: 50%;
}

.top_left img {

    width: 70%;
    height: 600px;
}

.top {
    width: 50%;
    height: 100%;
    padding: 20px;

}

div p {
    text-align: justify;
}

.top img {
    width: 95%;
    height: 600px;

}

.profile {

    border-image: linear-gradient(to bottom, orange, #bc121200)1;
    border-width: 5px;
    border-style: ridge;
    border-radius: 10px;

    width: 10%;
}

.linkedin {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, #e8a54e);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}



.about {

    background-color: rgb(209, 208, 208);
    margin: 100px 200px;
    border-radius: 20px;
    padding: 15px 10px 0px;
    height: 450px;

}

#about_me {
    text-align: center;
}

.middle p {
    padding: 0 50px;
    text-align: center;

}

.under {
    display: inline-flex;
    text-align: center;
    padding-left: 120px;
}

.under div {
    padding: 0 30px 10px;
}