body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.n {
    color: crimson;
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 50px;
}

.one {
    display: flex;
    padding: 5px;
    background-color: antiquewhite;
}

.top_left {
    padding-top: 15px;
    width: 10%;
    height: 50%;
}

.top_left img {

    width: 70%;
    height: 600px;
}

.top {
    width: 50%;
    height: 100%;
    padding: 20px;

}

div p {
    text-align: justify;
}

.top img {
    width: 95%;
    height: 600px;

}

.profile {

    border-image: linear-gradient(to bottom, orange, #bc121200)1;
    border-width: 5px;
    border-style: ridge;
    border-radius: 10px;

    width: 10%;
}

.linkedin {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, #e8a54e);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}



.about {

    background: linear-gradient(#e66465, #9198e5);
    margin: 160px 200px;
    border-radius: 20px;
    padding: 15px 10px 0px;
    height: 550px;

}

#about_me {
    padding-top: 40px;
    text-align: center;
}

.middle p {
    padding: 0 50px;
    text-align: center;

}

.under {
    display: inline-flex;
    text-align: center;
    padding-left: 120px;
}

.under div {
    padding: 0 30px 10px;
}














.two {
    margin-top: 150px;
    background-image: url(image/sub_image/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

}

.two top {
    border-image: none;
}

.m {
    color: orangered;
}





.four {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background-color: rgb(227, 207, 169);
    border-radius: 5px;
    height: 550px;
    margin-top: 10px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.sub_four_1 {
    text-align: center;
    color: rgb(64, 64, 124);

}

.sub_four_2 {
    display: flex;

}

.sub_four_bottom {
    border-radius: 5px;
    background-image: linear-gradient(rgb(92, 96, 208), rgb(220, 209, 209));
    margin: 10px;
    padding: 30px;
    text-align: justify;
}



.five {

    margin-top: 50px;
    margin-bottom: 100px;
    padding: 5px;
    padding-bottom: 50px;
}

.sub_five_1 {
    text-align: center;
}

.sub_five_2 {
    display: flex;
    padding: 0px;
    padding-left: 50px;
    padding-right: 100px;
}

.sub_sub_five_2 {
    padding-left: 28px;
    padding-right: 28px;
}

.sub_five_3 {
    text-align: center;
}

.six {
    background-color: #e2b0b0;
    margin: 100px;
    border-radius: 20px;
    display: flex;
    padding: 50px;
}

.six_sub1 {
    width: 40%;
    padding: 50px;
}

.six_sub2 {
    width: 60%;
    padding: 50px;
}

.name {
    height: 50px;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.email {
    height: 50px;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.message {
    height: 100px;
    width: 50%;
    margin-bottom: 50px;
    border-radius: 5px;
    border: none;
}

:placeholder-shown {
    text-align: start;
    padding-left: 20px;
}